#login{
  width: 35%;
  height: 50vh;
  margin-left: 32.5%;
  background: #ccc;
  border-radius: 15px;
  margin-top: 10vh;
}
#login h1{
  width: 100%;
  float: left;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 2vh;
}
#login input[type=text], input[type=password]{
  width: 80%;
  height: 35px;
  float: left;
  margin-left: 10%;
  margin-top: 3vh;
  border: 0;
  border-radius: 7px;
}
.linha{
  width: 80%;
  height: 30px;
  float: left;
  margin-left: 10%;
  margin-top: 1vh;
  color: #1777b8;
}
.linha2{
  width: 80%;
  height: 30px;
  float: left;
  margin-left: 10%;
  margin-top: 2vh;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}
.senha{
  float: right;
  text-decoration: none;
  color: #1777b8;
}
#login button{
  width: 50%;
  float: left;
  margin-left: 25%;
  height: 35px;
  margin-top: 2vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background: #333;
  border-radius: 12px;
  border: 0;
}
#logos{
  width: 80%;
  height: auto;
  float: left;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
  gap: 7%;
}
#logos img{
  width: 12%;
}
.linha3{
  float: left;
  width: 80%;
  margin-left: 10%;
  margin-top: 1vh;
  /* background: yellow; */
  text-align: right;
}